<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Taco Cloud Application</title>
		<link rel="stylesheet" th:ref="@{styles.css}" />
	</head>
	
	<body>
		<h1>Compose your own taco!</h1>
		<img th:src="@{/images/TacoCloud.png}" />
		
		<form method="POST" th:object="${design}">
			<div class="grid">
				<div class="ingredient-group" id="wraps">
					<h3>Pick type of flour:</h3>
					<div th:each="ingredient : ${wrap}">
						<input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
						<span th:text="${ingredient.name}">INGREDIENT</span><br/>
					</div>
				</div>
				<div class="ingredient-group" id="proteins">
					<h3>Pick meat:</h3>
					<div th:each="ingredient : ${protein}">
						<input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
						<span th:text="${ingredient.name}">INGREDIENT</span><br/>
					</div>
				</div>
				<div class="ingredient-group" id="cheeses">
					<h3>Pick cheese:</h3>
					<div th:each="ingredient : ${cheese}">
						<input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
						<span th:text="${ingredient.name}">INGREDIENT</span><br/>
					</div>
				</div>
				<div class="ingredient-group" id="veggies">
					<h3>Pick vegetables:</h3>
					<div th:each="ingredient : ${veggies}">
						<input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
						<span th:text="${ingredient.name}">INGREDIENT</span><br/>
					</div>
				</div>
				<div class="ingredient-group" id="sauces">
					<h3>Pick sauces:</h3>
					<div th:each="ingredient : ${sauce}">
						<input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
						<span th:text="${ingredient.name}">INGREDIENT</span><br/>
					</div>
				</div>
			</div>
			<div>
				<h3>Name your taco:</h3>
				<input type="text" th:field="*{name}" />
				<br/>
				<button>Send order</button>
			</div>
		</form>
	</body>
</html>